body{
    margin: 0%;
    padding: 0%;
    background: url(../images/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.section-url{
    display: flex;
    position: absolute;
    align-items: center;
    left: 40%;
    top: 40%;
}

input[name=url-fld]{
    border: 0px;
    opacity: .8;
    cursor: pointer;
    padding: 10px;
    width: 400px;
    margin-right: 8px;
    color: rgb(0, 6, 95);
    border-radius: 10px;

}

::placeholder {
    color: rgb(0, 6, 95);
    opacity: 1; /* Firefox */
  }
  
.dl-btn{
    padding: 10px;
    border: 10px;
    border-radius: 20px;
    width: 100px;
    background: linear-gradient(-135deg,#c31431bb,#240b36c9);
    border-color: blue;
    font-weight: bold;
    color: white;

}

.dl-btn:hover{
    color: rgb(0, 0, 0);
    background: linear-gradient(-135deg,#fdfd47d7,#24fe41d7);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.main-title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    position: absolute;
    align-items: center;
    left: 43%;
    top: 30%;
    border-color: aqua;
    border: 6px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 60px;
    background: linear-gradient(-135deg,#a7ff788e,#78ffd78f);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(0, 71, 12);

}